@import "../../Sass/mixin";
@import "../../Sass/variables";

.nav-container {
  width: 100%;
  height: auto;
  padding: 1rem 0rem;
//   background-color: greenyellow;
  &-content {
    width: 85%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;
    // background-color: aqua;
    &-left {
      display: flex;

      & > h1 {
        cursor: pointer;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        letter-spacing: 0.205em;
        color: #002265;
      }
      & > p {
        cursor: pointer;
        font-family: "Poppins";
        font-style: normal;
        // font-weight: 700;
        font-size: 25px;
        letter-spacing: 0.205em;
        color: #002265;
      }
    }

    &-right {
        // background-color: antiquewhite;
      & > *:not(:last-child) {
        margin-right: 2.5rem;
      }
      & > button {
        cursor: pointer;
        background: none;
        border: none;
        width: 160px;
        height: 48px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.055em;
        color: #212121;
        &:hover {
          //   padding: 10px 18px;
          color: white;
          background: #608af5;
          border-radius: 10px;
        }
      }
    }
  }
}
